@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');
$nav-height: 6rem;

/*========== Colors ==========*/
$body-color:#dfecee;
$border-color:rgba(154, 164, 165, 0.7);
$white-color:#E9E6E6;


/*========== Font and typography ==========*/
$body-font:'Open Sans', sans-serif;

